<!--<app-player></app-player>-->
<!--<app-parent></app-parent>-->
<!--<app-structural></app-structural>-->
<!--<app-pipe-example></app-pipe-example>-->
<!--<app-player-data></app-player-data>
<app-player-data2></app-player-data2>-->
<!--<app-observable-example></app-observable-example>-->
<!--<app-book-show></app-book-show>
<app-theatre-window></app-theatre-window>-->
<!-- <app-http-example></app-http-example> -->
<ul>
  <li><a routerLink="/" routerLinkActive='active' [routerLinkActiveOptions]="{exact:true}" >Home</a>

  </li>
  <li><a routerLink="page1" routerLinkActive='active'>Page1</a>
  </li>
  <li><a routerLink="page2" routerLinkActive='active'>Page2</a>
  </li>
  <li><a routerLink="animation" routerLinkActive='active'>Animations</a>
  </li>
</ul>


<router-outlet></router-outlet>